server:
  port: 8080
  servlet:
    context-path: /legalflow

spring:
  application:
    name: "legalflow"
  datasource:
    url: jdbc:postgresql://localhost:5432/legalflow
    username: postgres
    password: postgres
    driver:
      class: org.hibernate.dialect.PostgreSQL10Dialect
  liquibase:
    change-log: classpath:/db/dbchangeLog.xml
  jpa:
    hibernate:
      ddl-auto: none

jwt:
  secret: "" # Sua secret key
  expiration: 14 # Expiração do token em dias